.contacts__header {
  padding: 20px 0 20px;
}
@media (min-width: 768px) {
  .contacts__header {
    padding: 20px 0 20px;
  }
}
@media (min-width: 1200px) {
  .contacts__header {
    padding: 61px 0 0;
    background-image: url(../img/contacts/contacts-bg.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: repeat;
  }
}
.contacts__header .header__nav {
  margin: 0 auto;
}
.contacts__page {
  position: relative;
  padding: 60px 0;
  background-color: #f4f8f9;
}
@media (min-width: 768px) {
  .contacts__page {
    padding: 90px 0;
  }
}
@media (min-width: 1200px) {
  .contacts__page {
    padding: 145px 0;
    background-image: url(../img/contacts/contacts-bg.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: repeat;
  }
}
.contacts__page .content__title {
  text-align: center;
  margin-bottom: 80px;
}
.contacts__page .contacts__content__wrapper {
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .contacts__page .contacts__content__wrapper {
    margin-bottom: 83px;
  }
}
.contacts__page .skills__col__social {
  text-align: center;
}
@media (min-width: 768px) {
  .contacts__page .skills__col__social {
    text-align: unset;
  }
}
